h1 {
    text-align:center;
    width:100%;
}

#profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

body {
    background: rgba(0, 169, 236, 0.5);
    font-family: sans-serif;
}