/* 
Color's Used:
https://coolors.co/000000-14213d-d1dbf0-fca311-f1c47b-e5e5e5-ffffff
*/

html{
    background-color: #14213D;
    font-family: 'Avenir Next','Segoe ui',Ubuntu,sans-serif;
}

/*
    Navigation Bar
*/

.navbar{
    display: flex;
    justify-content: flex-end;
}

.navbutton{
    font-weight: bold;
    text-decoration: none;
    margin-right: 30px;
    padding-right: 10px;
    padding-left: 10px;
    color: #E5E5E5;
}

.navbutton:hover{
    text-decoration: underline;
}
/*
    Header
*/
h1{
    margin-top: 100px;
    margin-left: 10%;
    font-weight: bolder;
    font-family: 'Avenir Next','Segoe ui',Ubuntu,sans-serif;
}

span{
    display:block;
}

.top-span{
    color: #FCA311;
    font-size: 100px;
}

.bottom-span{
    color: #F1C47B;
    font-size: 80px;
}

/*
    Bio
*/

.bio{
    background-color:#D1DBF0;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 30px;
    padding: 5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 20px;
}

p{
    margin-left: 15px;
    margin-right: 15px;
    font-size: 24px;
    line-height: 30px;
}

/*
    Footer
*/
.footer{
    position: fixed;
    bottom: 0;
}

.social-links{
    font-size:30px;
}

.fa{
    text-decoration: none;
    margin: 10px;
    border-radius:10px;
    color: white;
}

/* 
===================================
=    BEGINNING OF CONTACT HTML    =
===================================
*/

.contact-container {
    /* First, let's create our container and make it look nice */
    /* Centralize Horizontally */
    width: 61%;
    margin-left: auto;
    margin-right: auto;

    /* Put nice height and try to centralize vertically */
    height: 610px;
    margin-top: 90px;

    border-radius: 20px;
    background-color: #D1DBF0;  /* Light Periwinkle Color from Color Palette */

    /* Once done, we can start using Flex to nicely put subcontainers */
    display: flex;
    justify-content: space-evenly;
}

.contact-subcontainer {
    /*
    ONLY ADD INPUT/TEXT/BUTTON AFTER THIS PART
    Create how the subcontainers will look.
    */
    background-color: rgba(0,0,0, 0.1);
    width: 100%;
    margin: 15px; /* Prevent from touching the general container */
    border-radius: 20px;

    /* 
    ONLY DO THIS AFTER PUTTING INPUT/TEXT BOXES.
    To prevent touching edge of subcontainer
    */
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}


/* 
Email Subcontainer
*/
#email-form > * {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    border-radius: 20px;

    /* 
    Border prevents border by default.
    Outline prevents border when clicked. 
    */
    border: none;
    outline: none;
    
    /*
    Give them height and width.
    Then, spread them apart.    
    */
    margin-top: 20px;
    width: 90%;
    height: 50px;

    /* this is to prevent touch edges of input/text boxes */
    padding-left: 10px;
    padding-right: 10px;
}

#message {
    resize: none;
    height: 300px;

    /* This is because the text inside the textarea still is too close on the top and bottom */
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Nice effect */
#submit-button:hover{
    background-color: rgb(197,197,197);
}


/* 
Information Subcontainer
*/
.info {
    /* attempt to vertically centralize info */
    padding-top: 100px;
}

/* overwriting class */
.info .fa {
    color: tomato;
}

/* INCREASES ICON SIZES because they are FONTS */
.socialmedia {
    font-size: 42px;
}

.info a {
    text-decoration: none;
    color: black;
}
